* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  border-radius: 0.5rem;
  background-image: url("/src/assets/abstract-pastel-holographic-textured-background.jpg");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(235, 172, 180);
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 67%;
  }
}
