.itemCount {
  background-color: rgb(255, 255, 255);
  width: 20rem;
  margin: 2rem;
}

.seleccion {
  margin: 2rem;
}

.cantidad-seleccionada {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.producto-seleccionado {
  margin: 0 3rem;
}
